<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
 
<listeners>
<listener class-name="com.github.rest.yaml.test.ExtentTestNGITestListener"></listener>
</listeners>

<test name="API Tests">
<classes>
<class name = "com.github.rest.yaml.test.MainTest"/>
</classes>
 </test> 


  
</suite>